@use "../../scss/abstracts/variables" as v;
@import '../../scss/functions/functions';

.button {
    border-radius: toRem(25px);
    padding: toRem(10px) toRem(24px);
    text-transform: uppercase;
    font-size: toRem(16px);
    font-weight: 600;
    background: v.$red-color;
    color: white;
    transition: 0.3s;

    &:hover {
        background: v.$red-color-hover;
        transition: 0.3s;
    }

    &:disabled {
        background: v.$gray-color;
        cursor: no-drop;
    }
}