.button {
  border-radius: 1.5625rem;
  padding: 0.625rem 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  background: #ec0000;
  color: white;
  transition: 0.3s;
}
.button:hover {
  background: #9c0000;
  transition: 0.3s;
}
.button:disabled {
  background: #333333;
  cursor: no-drop;
}