@use '../../scss/core.scss' as *;

.button {
    border-radius: toRem(25px);
    padding: toRem(10px) toRem(24px);
    text-transform: uppercase;
    font-size: toRem(16px);
    font-weight: 600;
    background: $red-color;
    color: white;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background: $red-color-hover;
        transition: 0.3s;
    }

    &:disabled {
        background: $gray-color;
        cursor: no-drop;
    }
}