.pizzaSelect:global() .ant-select {
  height: toRem(40px) !important;
}
.pizzaSelect:global() .ant-select-selector {
  border: toRem(1px) #4f4f4f solid !important;
  border-radius: toRem(25px);
}
.pizzaSelect:global() .ant-select-selection-search-input,
.pizzaSelect:global() .ant-select-selection-item {
  font-weight: 400;
  font-size: toRem(16px) !important;
  color: #333333;
}
.pizzaSelect:global() :where(.css-dev-only-do-not-override-wfhtqi).ant-select-single,
.pizzaSelect:global() :where(.css-dev-only-do-not-override-wfhtqi).ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
  font-size: toRem(16px) !important;
}