@use '@scss/core.scss' as *;

.hero {
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text_wrapper {
        position: relative;
        z-index: 1;
    }

    &__img_wrapper {
        position: relative;

        &::after {
            content: "";
            background: linear-gradient(90deg,
                    #ffffff 24.6%,
                    rgba(255, 255, 255, 0.94) 37.11%,
                    rgba(255, 255, 255, 0.9) 25.89%,
                    rgba(255, 255, 255, 0) 82.49%) no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
        }
    }

    &__title {
        font-size: toRem(72px);
        line-height: toRem(74px);
        font-weight: 700;
        margin-bottom: toRem(8px);
    }

    &__subtitle {
        font-weight: 500;
        font-size: toRem(36px);
        line-height: toRem(58px);
        margin-bottom: toRem(36px);
    }

    & button {
        font-size: toRem(24px);
        font-weight: 600;
    }

    &__img {
        width: toRem(777px);
    }
}