$base-color: #00240f;
$gray-color: #333333;
$gray1-color: #BDBDBD;
$gray2-color: #4F4F4F;
$green-color: #05a84b;
$red-color: #ec0000;
$red-color-hover: #9c0000;

$base-font-size: 16px;

//design breakpoint
$design-mobile-width: 360px;
$design-tablet-width: 768px;
$design-laptop-width: 1024px;
$design-desktop-width: 1920px;

//frontend breakpoint
$mobile-w: 360px;
$tablet-w: 768px;
$laptop-w: 1024px;
$desktop-w: 1440px;