.pizza__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 86.25rem;
  justify-content: center;
  gap: 1.6875rem;
}
.pizza__item {
  padding: 1.4375rem 1.375rem;
  border: 0.0625rem #BDBDBD solid;
  border-radius: 11.25rem 11.25rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
  transition: 0.3s;
  justify-content: space-between;
}
.pizza__item:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.pizza__item_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 15.1875rem;
  width: 100%;
  gap: 1.3125rem;
}
.pizza__img {
  width: 12.875rem;
  height: 13.0625rem;
}
.pizza__item_title {
  font-weight: 600;
  font-size: 1.5rem;
}
.pizza__item_description {
  font-weight: 200;
  font-size: 0.875rem;
}
.pizza__item_price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #05a84b;
}
.pizza__item_options {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}