@use "../../shared/scss/abstracts/variables" as v;

.menu {
    padding-top: 3.8125rem;
    padding-bottom: 6.25rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 2.25rem;
        margin-bottom: 2.625rem;
        font-weight: 600;
    }


}