.menu {
  padding-top: 3.8125rem;
  padding-bottom: 6.25rem;
}
.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__title {
  font-size: 2.25rem;
  margin-bottom: 2.625rem;
  font-weight: 600;
}